body{
    background-image: url('../images/trivia-background-6.jpg');

    
  
}
.container-fluid{
    text-align: center;
}
.jumbotron{
    font-size: 50px;
    margin-top: 10px;
    background-color: white;
    
    
}
header{
    margin-bottom: 10px;
    font-size: 30px;
}
.card{
    margin-top: 10px;
}

button{
    height: 50px;
    width: 300px;
}
.btn:focus, .btn:active{
    outline: 0 !important;
    box-shadow: none;
}
button:hover{
    background-color: pink;
}
.history-btn{
    margin-top: 15px;
}
.music-btn{
    margin: auto;
}

.syfy-btn{
    margin: auto;
}
.geography-btn{
    margin-bottom: 15px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 4px;
}